:root {
  --background-color: #262626;
  --heading-color: rgb(255, 255, 255);
  --subheading-color: rgb(197, 197, 197);
  --menu-color: rgb(141, 140, 140);
  --menu-color-hover: rgb(169, 169, 169);
  --about-color: rgb(158, 157, 157);
}

body {
  background-color: var(--background-color);
}

.heading {
  color: var(--heading-color);
}

.subheading {
  color: var(--subheading-color);
}
.about {
  color: var(--about-color);
}

.menu ul li a {
  color: var(--menu-color);
}

.menu ul li a:hover {
  color: var(--menu-color-hover);
}
