* {
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bs-gutter-x: 3rem;
}
body {
  max-height: 100vh;
  /* overflow: hidden; */
  font-family: "K2D", sans-serif;
}

.top-gap {
  min-height: 20vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.heading {
  /* font-size: 5vh; */
  font-size: calc(1em + 2vw);
  margin: 0;
}

.subheading ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  /* font-size: 20px; */
  font-size: calc(0.5em + 1vw);
}
.about {
  text-align: center;
  font-size: calc(0.5em + 0.7vw);
}
.menu {
  padding-top: 50px;
  min-height: 15vh;
}
.menu-wrapper {
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 20px;
}
.menu ul li a {
  text-decoration: none !important;
  transition: 200ms ease-in-out;
  font-size: calc(0.5em + 0.7vw);
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.footer-div .footer-link {
  padding: 15px;
}

.footer-div .footer-link .footer-img {
  height: 20px;
  width: 20px;
}
